.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 46px;
}

h1 {
  color: gray;
}

.searchBox {
  display: flex;
  flex-direction: row;
  flex: 1 1 33.33%;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: -20px;
  background-image: url('./nav_bar.png');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie {
  flex: 1 0 33.33%;
  flex-direction: column;
  margin-bottom: 90px;
}


